<div class="d-flex justify-content-center">
    <div class="form-acceso col-md-3 mt-5">
        <form>
            <div class="card">
                <div class="card-header">
                    Usuarios registrados de La tienda de mibarrio.com
                </div>
                <div class="card-body">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="usu" placeholder="Correo" />
                        <label for="usu">Correo electrónico</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="cla" placeholder="clave" />
                        <label for="cla">Contraseña</label>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button class="w-100 btn btn btn-warning" type="submit">
                        Iniciar sesión
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>
