<div class="container mt-4">
    <div class="row gy-4">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="src/assets/images/foto01.jpg" alt="noFoto">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Producto 1</h5>
                    <p class="card-text">
                        Este es un ejemplo de alguna descripción que se puede colocar
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver detalles</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                        </div>
                        <small class="text-muted">1000k</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img "src/assets/images/foto02.jpg" alt="noFoto">
    </div>
    <div class="carousel-item">
      <img "src/assets/images/foto02.jpg" alt="noFoto">
    </div>
    <div class="carousel-item">
      <img "src/assets/images/foto02.jpg" alt="noFoto">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
                <img src="src/assets/images/foto02.jpg" alt="noFoto">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Don Ramón</h5>
                    <p class="card-text">
                        Este es un ejemplo de alguna descripción que se puede colocar
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver detalles</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                        </div>
                        <small class="text-muted">2500k</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="src/assets/images/foto03.jpg" alt="noFoto">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Natasha</h5>
                    <p class="card-text">
                        Este es un ejemplo de alguna descripción que se puede colocar
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver detalles</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                        </div>
                        <small class="text-muted">500k</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="src/assets/images/foto04.jpg" alt="noFoto">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Natasha</h5>
                    <p class="card-text">
                        Este es un ejemplo de alguna descripción que se puede colocar
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver detalles</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                        </div>
                        <small class="text-muted">500k</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="src/assets/images/foto05.jpg" alt="noFoto">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Natasha</h5>
                    <p class="card-text">
                        Este es un ejemplo de alguna descripción que se puede colocar
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver detalles</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                        </div>
                        <small class="text-muted">500k</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
