<div class="d-flex justify-content-center">

    <div class="col-md-6 mt-4">
        <form class="needs-validation" novalidate>
            <div class="col-md-6">
                <label for="validationCustom03" class="form-label">City</label>
                <input type="text" class="form-control" id="validationCustom03" required="">
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>

            <div class="mb-3">
                <label for="nom" class="form-label">Nombre del producto</label>
                <input type="text" class="form-control" id="nom" required />
                <div class="invalid-feedback">
                    Nombre requeridos
                </div>
            </div>

            <div class="mb-3">
                <label for="des" class="form-label">Descripción</label>
                <textarea class="form-control" id="des" rows="4"></textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Fecha</label>
                <input id="startDate" class="form-control" type="date" />
            </div>

            <div class="mt-4">
                <button class="w-100 btn btn btn-warning" type="submit">
                    Registrar producto
                </button>
            </div>
        </form>
        <script>
            (function () {
                'use strict'
                console.log("jajaja");
                window.addEventListener('load', function () {
                    console.log("jejeje");
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>

</div>